.searchInput {
    font-size: 16px;
    text-indent: 4px;
    border: none;
    outline: none;
    padding: 8px 16px;
    width: 100%;
}

.searchWrap {
    font-size: 16px;
    text-indent: 4px;
    display: flex;
}

.searchIcon {
    width: 20px;
    margin-left: 10px;

    &:hover {
        cursor: pointer;
    }
}

.closeIcon {
    width: 20px;
    margin-right: 10px;

    &:hover {
        cursor: pointer;
    }
}