<div class="about bg-grey">
    <div class="container">
        <div class="row no-gutters">
        <div class="col col-md-6 col-sm-12">
            <img src="images/about.jpg" alt="" class="w-100">
        </div>
        <div class="col col-md-6 col-sm-12">
            <div class="content">
                <h3>Professionals</h3>
                <span><i class="fa fa-paper-plane"></i>We are commitment to give best work</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis cumque porro architecto ipsum explicabo illo quasi eum nulla distinctio. Et, recusandae, quia nobis beatae error dolor in eveniet qui placeat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis consequatur repellendus, rem, voluptatem laborum error expedita, velit excepturi earum itaque, laboriosam. Mollitia voluptatibus blanditiis, quasi distinctio pariatur, iste alias nulla.</p>
                <a href="" class="button hbtn hb-fill-right">Learn More</a>
            </div>
        </div>
    </div>
    </div>
</div>