<footer class="section">
    <div class="container">
        <h6>{{footer.title}}</h6>
        <p>{{footer.subtitle}}</p>
        <ul>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-dribbble"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <span>Copyright © All Right Reserved</span>
    </div>
</footer>