<footer class="section">
    <div class="container">
        <h6>Wacov</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam rerum dolore, tenetur cupiditate, aut harum. Quibusdam placeat officia id harum quo iusto veniam iure pariatur explicabo. Rem vero reprehenderit sequi.</p>
        <ul>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-dribbble"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <span>Copyright © All Right Reserved</span>
    </div>
</footer>