<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!--<link rel="icon" href="images/favicon.png">-->
     <!-- connect to domain of font files -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>

    <!-- optionally increase loading priority -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap">

    <!-- async CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap" media="print" onload="this.onload=null;this.removeAttribute('media');">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap">
    </noscript>
    <title>Landing</title>
  </head>
  <body>
    {{> menu}}
    {{> intro}}
    {{> services}}
    {{> works}}
    {{> blog}}
    {{> about}}
    {{> footer}}
  </body>
</html>
