<div class="our-work section">
    <div class="container">
        <div class="title-section">
            <h3>Our works</h3>
            <p><span class="line"></span> Do your like our work?</p>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="content">
                    <a href="images/work1.jpg" class="portfolio-popup">
                        <img src="images/work1.jpg" alt="">
                        <div class="caption">
                            <h6>Art Creative</h6>
                            <p>Design</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="content">
                    <a href="images/work2.jpg" class="portfolio-popup">
                        <img src="images/work2.jpg" alt="">
                        <div class="caption">
                            <h6>Art Creative</h6>
                            <p>Design</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="content">
                    <a href="images/work3.jpg" class="portfolio-popup">
                        <img src="images/work3.jpg" alt="">
                        <div class="caption">
                            <h6>Art Creative</h6>
                            <p>Design</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="content">
                    <a href="images/work4.jpg" class="portfolio-popup">
                        <img src="images/work4.jpg" alt="">
                        <div class="caption">
                            <h6>Art Creative</h6>
                            <p>Design</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="content">
                    <a href="images/work5.jpg" class="portfolio-popup">
                        <img src="images/work5.jpg" alt="">
                        <div class="caption">
                            <h6>Art Creative</h6>
                            <p>Design</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="content">
                    <a href="images/work6.jpg" class="portfolio-popup">
                        <img src="images/work6.jpg" alt="">
                        <div class="caption">
                            <h6>Art Creative</h6>
                            <p>Design</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>