/*

Wacov - Elegant HTML Template
Author : aStylers
Author URL : https://themeforest.net/user/astylers

*/

/*

Table of Content:
- general
- button
- navbar
- header title
- about us
- home intro
- section title
- services
- our works
- features
- latest blog
- blog
- blog single
- pagination
- contact
- testimonial
- footer
- responsive

*/

/* general */

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #242424;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

a {
  color: #111;
}

a:hover {
  color: #ffc239;
  text-decoration: none;
  transition: 0.5s ease-out;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

p {
  line-height: 26px;
}

.bg-grey {
  background: #f5f3fd;
}

/* button */
.button {
  background: #0caed4;
  padding: 12px 30px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 22px;
  display: inline-block;
  border: 0;
}

.button:hover {
  color: black;
}

.hb-fill-right:before {
  background: #ffc239 !important;
  color: black !important;
}

/* loader */
.spinner4 {
  background: #ffc239;
}

/* navbar */
.navbar {
  padding: 10px 0;
  transition: 0.5s ease-out;
  background: transparent;
}

.navbar .container-fluid {
  padding: 0 45px;
}

.navbar span.call {
  font-size: 17px;
  margin-left: 12px;
  margin-top: 5px;
  color: #fff;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 32px;
  padding: 15px 0;
  font-weight: 700;
}

.navbar .navbar-nav li {
  padding: 0 15px;
}

.navbar .navbar-nav li a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.navbar .navbar-nav li a:last-child {
  padding-right: 0 !important;
}

.navbar .navbar-nav li:last-child {
  padding-right: 0;
}

.navbar .navbar-toggler {
  outline: none;
  padding-right: 0;
}

.navbar .navbar-toggler i {
  color: #fff;
}

.navbar-fixed {
  background: #fff;
  transition: 0.5s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0);
}

.navbar-fixed .navbar-brand {
  color: #222;
}

.navbar-fixed .navbar-nav li a {
  color: #222;
}

.navbar-fixed .navbar-toggler i {
  color: #222;
}

.navbar-transparent {
  background: transparent !important;
}

/* haader title */
.header-title {
  background: linear-gradient(rgba(255, 194, 57, 0.9), rgba(255, 194, 57, 0.9)),
    url('../images/header.jpg');
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-attachment: scroll, scroll;
  background-size: auto, auto;
  background-position: center;
  background-size: cover;
  padding: 220px 0 110px;
  color: #fff;
}

.header-title .title-section {
  margin-bottom: 0;
}

.header-title .title-section p span {
  background: #fff;
}

.header-title h3 {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
}

/* about us */
.about {
  padding-bottom: 125px;
}

.about .col {
  background: #ffc239;
}

.about img {
  height: 100%;
  width: 100%;
  background: #766f5f;
  object-fit: cover;
}

.about .content {
  padding: 40px;
  color: #fdfdfd;
  background: #ffc239;
}

.about .content h3 {
  color: #fff;
  font-weight: 600;
  font-size: 44px;
}

.about .content span {
  font-size: 16px;
  color: #fff;
  margin-bottom: 22px;
  display: block;
}

.about .content span i {
  margin-right: 18px;
}

.about .button {
  background: #0caed4;
  margin-top: 8px;
}

.about .button:hover {
  color: #333;
}

.about .hb-fill-right:before {
  background: #fff !important;
  color: #333 !important;
}

/* home intro */

.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),
    url('https://xn--e1aqadbjicd1b.com/images/banner.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.intro h5 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 32px;
  font-weight: 600;
}

.intro h2 {
  color: #fff;
  font-size: 62px;
  font-weight: 700;
  margin: 25px 0;
  line-height: 54px;
  letter-spacing: 1px;
}

.intro h6 {
  color: #fff;
  line-height: 35px;
  font-size: 17px;
  margin-bottom: 15px;
  width: 60%;
}

/* section */
.section {
  scroll-margin-top: 2rem;
  padding: 100px 0 120px;
}

.section-no-title {
  padding: 120px 0 120px;
}

.section-top {
  padding-top: 125px;
}

.title-section {
  margin-bottom: 50px;
}

.title-section h3 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.title-section h3 span {
  color: #ffc239;
}

.title-section-left {
  margin-bottom: 0;
}

.title-section-left h3 {
  font-size: 40px;
  font-weight: 600;
}

.title-section-left h3 span {
  color: #ffc239;
}

.title-section p {
  margin: auto;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}

.title-section p span {
  width: 50px;
  height: 3px;
  background: #ffc239;
  display: block;
  display: inline-block;
  position: relative;
  top: -5px;
  margin-right: 20px;
}

.title-section-two {
  text-align: left;
}

.title-section-two p {
  width: 100%;
}

/* services */
.services {
  padding: 100px 0 90px;
}

.services a {
  color: #0caed4;
  font-weight: bold;
}

.services .row {
  align-items: stretch;
}

.services .row > * {
  margin-bottom: 1rem;
}

.services .content {
  height: 100%;
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  border-left: 4px solid #ffc239;
  position: relative;
  transition: 0.6s ease-out;
  right: 100%;
  left: 0;
  z-index: 99;
}

.services .content h5 {
  font-weight: 600;
}

.services .content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.services .content i {
  font-size: 54px;
  color: #ffc239;
}

.services .content h5 {
  margin: 25px 0 14px;
}

/* our work */
.our-work .content img {
  width: 100%;
  position: relative;
}

.our-work .content .caption {
  position: absolute;
  background-color: rgba(255, 194, 57, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding-top: 40%;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: auto;
}

.our-work .content .caption h6 {
  color: #222;
}

.our-work .content .caption p {
  color: #222;
}

.our-work .content .caption p:hover {
  color: #222;
}

.our-work .content:hover .caption {
  opacity: 1;
  width: 100%;
  transition: all 0.3s ease;
}

/* pricing */
.pricing .content {
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #fff;
}

.pricing .content h3 {
  font-size: 38px;
  font-weight: 600;
  margin: 10px 0 22px;
  color: #ffc239 !important;
}

.pricing .content li {
  margin: 15px 0;
}

.pricing .content li i {
  margin-right: 20px;
}

.pricing .content-color {
  border: 2px solid #ffc239;
  padding: 0 !important;
}

.pricing .content-color .head {
  background: #ffc239;
  padding: 30px;
  border-radius: 0 0 50px 50px;
  padding-bottom: 1px;
}

.pricing .content-color .head h5 {
  color: #fff;
}

.pricing .content-color .head h3 {
  color: #fff !important;
}

.pricing .content-color .button {
  margin-bottom: 30px;
}

/* features */
.features .content {
  background: #fff;
  border-radius: 6px;
  padding-bottom: 40px;
  position: relative;
}

.features .content i {
  font-size: 30px;
  color: #fff;
  margin-top: 16px;
}

.features .content h5 {
  margin: 0 0 9px;
}

.features .content .icon {
  float: left;
  margin-right: 30px;
  text-align: center;
  width: 65px;
  height: 65px;
  background: #ffc239;
  border-radius: 5px;
  line-height: 65px;
}

.features .content .content-text {
  overflow: hidden;
}

/* latest blog */
.latest-blog h5 {
  font-weight: 600;
}

.latest-blog .content {
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.latest-blog .row {
  align-items: stretch;
}

.latest-blog .row > * {
  margin-bottom: 1rem;
}

.latest-blog .content {
  height: 100%;
}

.latest-blog .content-text {
  height: 100%;
  padding: 30px;
  border-bottom: 4px solid #ffc239;
}

.latest-blog .content-text span {
  font-size: 15px;
  color: #777;
  margin-bottom: 15px;
  display: block;
}

.latest-blog .content-text h5 {
  line-height: 30px;
}

.latest-blog .content-text a:hover {
  color: #ffc239;
  transition: 0.5s ease-out;
}

/* blog */
.blog .content {
  border-radius: 6px;
  margin-bottom: 30px;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.blog .content img {
  border-radius: 3px 3px 0 0;
}

.blog .content-text {
  padding: 30px;
}

.blog .content-text span {
  font-size: 15px;
  color: #777;
  margin-bottom: 15px;
  display: block;
}

.blog .content-text h5 {
  line-height: 30px !important;
  font-size: 20px !important;
}

.blog .content-text a:hover {
  color: #ffc239;
  transition: 0.5s ease-out;
}

/* pagination */
.pagination ul li {
  display: inline-block;
  margin: 10px;
}

.pagination ul li a {
  height: 50px;
  width: 50px;
  line-height: 48px;
  text-align: center;
  display: block;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  border-radius: 6px;
  background: #fff;
}

.pagination ul li .active {
  background: #ffc239;
  color: #fff;
  border-color: #ffc239;
}

/* blog single */
.blog-single .content h5 {
  font-size: 24px;
  line-height: 34px;
}

.blog-single .content li {
  display: inline-block;
  margin-right: 20px;
}

.blog-single .content li i {
  margin-right: 10px;
}

.blog-single .content .quote {
  background: #eee;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 22px;
}

.blog-single .comments {
  border-top: 2px solid #ddd;
  padding-top: 30px;
  margin-top: 35px;
}

.blog-single .comments h5 {
  margin-bottom: 25px;
}

.blog-single .button {
  margin-top: 0;
}

.blog-single .search {
  margin-bottom: 16px;
}

.blog-single .search input {
  width: calc(100% - 65px);
  height: 52px;
}

.blog-single .search .button {
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 22px;
  height: 52px;
  line-height: 26px;
  width: 52px;
}

.blog-single .sidebar-link h5 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 14px;
  margin-bottom: 22px;
}

.blog-single .sidebar-link li {
  margin-bottom: 16px;
}

.blog-single .sidebar-link li a {
  font-size: 15px;
}

.blog-single .categories {
  margin-top: 40px;
}

.blog-single .img-blog-single {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* contact */

.contact .content-block {
  margin: 30px 0;
  padding: 30px;
  height: 100%;
}

.contact .content-border {
  border: 4px solid #0caed4;
}

.contact h5 {
  font-size: 22px;
  margin-bottom: 18px;
  font-weight: 600;
}

.contact .content-block li {
  margin-bottom: 16px;
  font-size: 1.1rem;
}

.contact form input,
.contact form textarea {
  border: 2px solid #ddd;
  padding: 15px 20px;
  border-radius: 6px;
  margin-bottom: 30px;
  width: 100%;
  color: black;
}

.contact .button {
  margin-top: 0;
}

.contact li i {
  margin-right: 0.5rem;
}

.contact .map {
  position: relative;
  top: -5px;
}

.contact .map i {
  float: left;
  margin-right: 23px;
  margin-top: 10px;
}

.contact .map p {
  overflow: hidden;
  line-height: 30px;
}

.contact a {
  color: #0caed4;
  font-weight: bold;
}

::placeholder {
  color: #aaa;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #aaa;
}

::-ms-input-placeholder {
  color: #aaa;
}

/* testimonial */
.testimonial .carousel-item {
  text-align: center;
  padding: 0 20%;
}

.testimonial .carousel-item span i {
  font-size: 50px;
  margin-bottom: 35px;
}

.testimonial .carousel-item h5 {
  margin-top: 25px;
  font-weight: 600;
}

.testimonial .carousel-control-next,
.testimonial .carousel-control-prev {
  width: auto;
}

.testimonial a i {
  font-size: 56px;
  color: #000;
  z-index: 999;
  opacity: 1;
}

/* footer */
footer {
  text-align: center;
  background: #111;
  color: #bbb;
}

footer a {
  color: white;
}

footer p {
  width: 60%;
  margin: 0.8rem auto;
}

footer span {
  font-size: 0.9em;
}

footer h6 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  margin-bottom: 28px;
}

footer .contacts {
  margin: 2rem 0;
  font-size: 1.2rem;
}

footer .contacts a {
  color: #ffc239;
}

.wa-fab {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff !important;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.wa-fab i {
  margin-top: 16px;
}

/*responsive*/
@media (max-width: 991px) {
  .intro h2 {
    line-height: 80px;
  }

  .intro .content::before {
    width: 245px;
  }

  .intro .content::after {
    width: 245px;
  }

  .about .content h3 {
    font-size: 38px;
  }
}

@media (max-width: 980px) {
  .navbar .navbar-nav li {
    padding: 0 10px;
  }

  .intro h2 {
    line-height: 80px;
  }

  .features .content:last-child {
    margin-bottom: 30px;
  }

  .services .content {
    padding: 20px;
  }

  .pricing .content {
    padding: 20px;
  }

  .latest-blog .content {
    margin-bottom: 0;
  }

  .latest-blod .content.r-980 {
    margin-bottom: 0;
  }

  .about .col-md-6 {
    max-width: 100%;
    flex: 100%;
  }

  .features .col-md-6 {
    max-width: 100%;
    flex: 100%;
  }
}

@media (max-width: 1199px) {
  .container {
    padding: 0 14px !important;
  }

  .navbar .navbar-toggler i {
    margin-right: 0;
  }

  .navbar .navbar-nav {
    background: #0caed4;
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .navbar-fixed .navbar-nav {
    background: #fff;
  }

  .navbar-fixed .navbar-nav li {
    padding: 0 4px !important;
  }

  .navbar .navbar-nav li {
    padding: 0 32px;
  }

  .intro .content::before {
    width: 168px;
  }

  .intro .content::after {
    width: 168px;
  }

  .pricing .content {
    margin-bottom: 30px;
  }

  .pricing .last-content {
    margin-bottom: 0;
  }

  .latest-blog .content {
    margin-bottom: 30px;
  }

  .latest-blog .content.r-980 {
    margin-bottom: 0;
  }

  .blog-single .search {
    margin-top: 30px;
  }

  .blog-single .sidebar-link li:last-child {
    margin-bottom: 0;
  }

  .contact .content-office {
    margin-bottom: 30px;
  }

  .contact iframe {
    height: 400px !important;
  }

  footer p {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .services .content {
    margin-bottom: 30px;
  }

  .services .col-sm-12:last-child .content {
    margin-bottom: 0;
  }

  .pricing .content {
    margin-bottom: 30px;
  }

  .pricing .col-sm-12:last-child .content {
    margin-bottom: 0;
  }

  .latest-blod .content.r-980 {
    margin-bottom: 0;
  }

  .blog-single .search {
    margin-top: 30px;
  }

  footer .col-sm-6 {
    margin-top: 50px;
  }
}

@media (max-width: 420px) {
  .intro:before {
    display: none;
  }
  .intro .content::before {
    display: none;
  }

  .intro .content::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .intro .content-text {
    padding-left: 30px;
  }

  .about .content h3 {
    font-size: 24px;
  }

  .intro h5 {
    font-size: 22px;
    margin-bottom: 18px;
  }

  .intro h6 {
    color: #fff;
    line-height: 20px;
    font-size: 17px;
    margin-bottom: 8px;
    width: 100%;
  }

  .intro h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .title-section h3 {
    font-size: 32px;
  }

  .about .content-image {
    padding-bottom: 0;
  }

  .about .bg-style {
    background: transparent;
  }

  .latest-blod .content.r-980 {
    margin-bottom: 0;
  }

  .testimonial a i {
    font-size: 30px;
  }

  .testimonial .carousel-item {
    padding: 0 15%;
  }

  footer .col-12 {
    margin-top: 30px;
  }
}

@media (max-width: 360px) {
  .intro h2 {
    font-size: 36px;
    line-height: 48px;
  }

  .latest-blod .content.r-980 {
    margin-bottom: 0;
  }
}
