{% extends "layout.html" %}


{% block head %}
<title>Центроснос</title>
<meta name="description" content="Демонтаж дома за 1 день в Москве и Московской области" />
<meta name="og:title" content="Центроснос" />
<meta name="og:description" content="Демонтаж дома за 1 день в Москве и Московской области" />
<meta name="og:image" content="https://центроснос.com/images/snos-derevyannogo-doma.jpg" />
<meta name="og:type" content="website" />
{% endblock %}

{% block content %}
{% include "header.html" %}
{% include "intro.html" %}     
{% include "services.html" %}
{% include "about.html" %}
{% include "footer.html" %}
{% endblock %}


