{% extends "layout.html" %}


{% block head %}
<title>Центроснос</title>
<meta name="description" content="Демонтаж дома за 1 день в Москве и Московской области" />
<meta name="og:title" content="Центроснос" />
<meta name="og:description" content="Демонтаж дома за 1 день в Москве и Московской области" />
<meta name="og:image" content="https://xn--e1aqadbjicd1b.com/images/services/snos-derevyannogo-doma.jpg" />
<meta name="og:type" content="website" />
<meta name="keywords" content="демонтаж, снос, деревянного, каркасного, дома, бани, Москва, Московская, Область, за, день, вручную, с, помощью, спецтехники" />
{% endblock %}

{% block content %}
{% include "header.html" %}
{% include "intro.html" %}     
{% include "services.html" %}
{% include "equipment.html" %}
{% include "prices-table.html" %}
{% include "prices-calc.html" %}
{% include "about.html" %}
{% include "advantages.html" %}
{% include "contacts.html" %}
{% include "footer.html" %}
{% endblock %}


