{% extends "layout.html" %}
{% block head %}
<title>Отказ от ответственности | Центроснос</title>
<meta name="description" content="Отказ от ответственности администрации сайта центроснос.com" />
<meta name="og:title" content="Отказ от ответственности | Центроснос" />
<meta name="og:description" content="Отказ от ответственности администрации сайта центроснос.com" />
<meta name="og:image" content="https://центроснос.com/images/snos-derevyannogo-doma.jpg" />
<meta name="og:type" content="website" />
{% endblock %}
{% block content %}
{% include "header.alt.html" %}
<div class="section section-top">
    <div class="container">
        <h1>Цены, указанные на сайте центроснос.com, не являются публичной офертой!</h1>
        <p>Обращаем ваше внимание на то, что данный интернет-сайт <a href="/">центроснос.com</a> носит исключительно информационный
            характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (п.2)
            Гра/p>жданского кодекса РФ:</p>
        <p>



            Статья 437. Приглашение делать оферты. Публичная оферта


        </p>
        <p>
            1. Реклама и иные предложения, адресованные неопределенному кругу лиц, рассматриваются как приглашение
            делать оферты, если иное прямо не указано в предложении.

        </p>
        <p>

            2. Содержащее все существенные условия договора предложение, из которого усматривается воля лица, делающего
            предложение, заключить договор на указанных в предложении условиях с любым, кто отзовется, признается
            офертой (публичная оферта).
        </p>

        <p>
            Существенными условиями договора поставки являются предмет договора, т.е. наименование и количество товара,
            его ассортимент и комплектность (ст.454-491 ГК РФ), срок поставки (ст.506 ГК РФ).</p>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}