<div class="about section bg-grey">
    <div id="about" class="container">
        <div class="row no-gutters">
            <div class="col col-md-6 col-sm-12">
                <img loading="lazy" src="{{ about.img }}" alt="" class="w-100">
            </div>
            <div class="col col-md-6 col-sm-12">
                <div class="content">
                    <h3>{{ about.title }}</h3>
                    <p>У нас работают штатные специалисты с опытом более 10 лет, что обеспечивает высокую скорость
                        выполнения работ. В работе применяем только надежное оборудование и спецтехника из Германии,
                        Швеции и Японии.</p>
                    <p>Все сотрудники перед началом демонтажа расписываются в журнале по технике безопасности, что
                        снимает всю ответственность с заказчика в случае угрозы здоровью или жизни исполнителей.</p>
                    <p><strong>Составляем полный комплект документации:</strong></p>
                    <ul>
                        <li>Договор, где четко прописываем условия, этапы и сроки сдачи работ.</li>
                        <li>Приходно-кассовый ордер с полигона ТБО (чтобы вы были точно уверены о поступлении мусора на
                            официальную свалку, а не в лес).</li>
                    </ul>
                    <p>Сдаем работы в срок. Также отметим, что 99% всех демонтажей мы выполняем под ключ за 1 день. Мы
                        &laquo;не возим воздух&raquo;. Обеспечиваем максимально плотную погрузку контейнеров, укладывая
                        все как &laquo;спички в коробке&raquo;.</p>
                </div>
            </div>
        </div>
    </div>
</div>