<footer class="section">
  <div class="container">
      <h6><a href="/">{{title}}</a></h6>
      <!--
      <p><i class="fa fa-map-marker-alt" aria-hidden="true"></i> {{location}}</p>
      <p><i class="fa fa-clock" aria-hidden="true"></i> {{hours}}</p>
      <div class="contacts">
        <p><a href={{phone.link}}><i class="fa fa-phone-square" aria-hidden="true"></i> {{phone.text}}</a></p>
        <p><a href={{whatsapp.link}}><i class="fab fa-whatsapp" aria-hidden="true"></i> {{whatsapp.text}}</a></p>
        <p><a href={{email.link}}><i class="fa fa-at" aria-hidden="true"></i> {{email.text}}</a></p>
      </div>
      -->
      <p><a href="/policy">Политика Конфиденциальности</a></p>
      <p><a href="/disclaimer">Отказ от ответственности</a></p>
      <p><a href="/nooffer">Информация, указанная на сайте, не является публичной офертой</a></p>
      <p><span>© 2021 {{title}}</span></p>
  </div>
</footer>
