<div class="fixed-top">
  <nav id="header" class="navbar navbar-expand-xl">
    <div class="container">
      <a href="#" class="navbar-brand">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if navItems %}
        <ul class="navbar-nav ml-auto">
          {% for navItem in navItems %}
          <li class="nav-item">
            <a class="nav-link" href="{{ navItem.url }}" >{{ navItem.name }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ phone.link }}" class="nav-link">{{ phone.text }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>