<!DOCTYPE html>
<html lang="{{ locale or 'en' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <link rel="icon" href="favicon.ico">
     <!-- connect to domain of font files -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>

    <!-- optionally increase loading priority -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap">

    <!-- async CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap" media="print" onload="this.onload=null;this.removeAttribute('media');">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap">
    </noscript>
    <link rel="stylesheet" href="index.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
      {% block content %}{% endblock %}
      <script src="index.js"></script>
      {% block scripts %}{% endblock %}
  </body>
</html>