<div class="section prices-table bg-grey">
    <div id="prices-table" class="container table-responsive-sm">
        <div class="title-section">
            <h3>Цены</h3>
        </div>
        <table class="price__table table table-striped table-hover">
            <thead>
                <tr>
                    <th>Размер здания, м</th>
                    <th>Каркас</th>
                    <th>Бревно</th>
                    <th>Кирпич</th>
                    <th>Сроки сноса</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4x4</td>
                    <td>17600</td>
                    <td>26400</td>
                    <td>35200</td>
                    <td>1 день</td>
                </tr>
                <tr>
                    <td>4x5</td>
                    <td>22000</td>
                    <td>33000</td>
                    <td>44000</td>
                    <td>1 день</td>
                </tr>
                <tr>
                    <td>5x5</td>
                    <td>27500</td>
                    <td>41250</td>
                    <td>55000</td>
                    <td>1-2 дня</td>
                </tr>
                <tr>
                    <td>5x6</td>
                    <td>33000</td>
                    <td>49500</td>
                    <td>66000</td>
                    <td>1-2 дня</td>
                </tr>
                <tr>
                    <td>6x6</td>
                    <td>46200</td>
                    <td>69300</td>
                    <td>92400</td>
                    <td>2-3 дня</td>
                </tr>
                <tr>
                    <td>6x7</td>
                    <td>46200</td>
                    <td>69300</td>
                    <td>92400</td>
                    <td>2-3 дня</td>
                </tr>
                <tr>
                    <td>7x7</td>
                    <td>53900</td>
                    <td>80850</td>
                    <td>107800</td>
                    <td>2-3 дня</td>
                </tr>
                <tr>
                    <td>7x8</td>
                    <td>61600</td>
                    <td>92400</td>
                    <td>123200</td>
                    <td>2-3 дня</td>
                </tr>
                <tr>
                    <td>8x8</td>
                    <td>70400</td>
                    <td>105600</td>
                    <td>140800</td>
                    <td>3-4 дня</td>
                </tr>
                <tr>
                    <td>8x9</td>
                    <td>79200</td>
                    <td>118800</td>
                    <td>158400</td>
                    <td>3-4 дня</td>
                </tr>
                <tr>
                    <td>9x9</td>
                    <td>89100</td>
                    <td>133650</td>
                    <td>178200</td>
                    <td>5 дней</td>
                </tr>
                <tr>
                    <td>9x10</td>
                    <td>99000</td>
                    <td>148500</td>
                    <td>198000</td>
                    <td>5 дней</td>
                </tr>
                <tr>
                    <td>10x10</td>
                    <td>110000</td>
                    <td>165000</td>
                    <td>220000</td>
                    <td>5 дней</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>