<div class="section prices-calc bg-grey">
    <div id="prices-calc" class="container">
        <div class="title-section">
            <h5>Примеры средней цены на демонтаж деревянного дома с вывозом</h5>
        </div>
        <card-group>
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card d-flex flex-column">
                        <div class="card-body">
                            <h6 class="card-title">
                                Деревянный дом 5x5, 1 этаж, холодный чердак
                            </h6>
                            <p class="card-text">Демонтаж дома + перенос материала + погрузка = 41 250 рублей стоимость работ.</p>
                            <p class="card-text">Вывоз мусора, 1 контейнер по 27м<sup>3</sup> = 10 800 рублей</p>
                            <p class="card-text"><strong>Итог:</strong> Цена демонтажа с вывозом = 52 050 рублей</p>
                        </div>
                        <div class="card-footer mt-auto">
                            <p class="card-text">Работа выполняется за 1-2 дня.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card d-flex flex-column">
                        <div class="card-body">
                            <h6 class="card-title">
                                Деревянный дом 8x8, 1 этаж, холодный чердак
                            </h6>
                            <p class="card-text">Демонтаж дома + перенос материала + погрузка = 105 600 рублей стоимость работ.</p>
                            <p class="card-text">Вывоз мусора, 4 контейнера по 27м<sup>3</sup> = 43 200 рублей</p>
                            <p class="card-text"><strong>Итог:</strong> Цена демонтажа с вывозом = 148 800 рублей</p>
                        </div>
                        <div class="card-footer mt-auto">
                            <p class="card-text">Работа выполняется за 3-4 дня.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card d-flex flex-column">
                        <div class="card-body">
                            <h6 class="card-title">
                                Деревянный дом 10x10, 1 этаж, холодный чердак
                            </h6>
                            <p class="card-text">Демонтаж дома + перенос материала + погрузка = 165 000 рублей стоимость работ.</p>
                            <p class="card-text">Вывоз мусора, 4 контейнера по 27м<sup>3</sup> = 43 200 рублей</p>
                            <p class="card-text"><strong>Итог:</strong> Цена демонтажа с вывозом = 208 200 рублей</p>
                        </div>
                        <div class="card-footer mt-auto">
                            <p class="card-text">Работа выполняется за 5-7 дней.</p>
                        </div>
                    </div>
                </div>
            </div>
        </card-group>
    </div>
</div>