<div class="section prices-calc bg-grey">
    <div id="prices-calc" class="container">
        <div class="title-section">
            <h5>Примеры средней цены на демонтаж деревянного дома с вывозом</h5>
        </div>
        <card-group>
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card d-flex flex-column">
                        <div class="card-body">
                            <h6 class="card-title">
                                Деревянный дом 5x5, 1 этаж, холодный чердак
                            </h6>
                            <p class="card-text">Демонтаж дома + погрузка + утилизация отходов (контейнеры от 8 до 27 м) &asymp;&nbsp;52&nbsp;050&nbsp;рублей</p>
                        </div>
                        <div class="card-footer mt-auto">
                            <p class="card-text">Работа выполняется за 1 день.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card d-flex flex-column">
                        <div class="card-body">
                            <h6 class="card-title">
                                Деревянный дом 8x8, 1 этаж, холодный чердак
                            </h6>
                            <p class="card-text">Демонтаж дома + погрузка + утилизация отходов (контейнеры от 8 до 27 м) &asymp;&nbsp;148&nbsp;800&nbsp;рублей</p>
                        </div>
                        <div class="card-footer mt-auto">
                            <p class="card-text">Работа выполняется за 1 день.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card d-flex flex-column">
                        <div class="card-body">
                            <h6 class="card-title">
                                Деревянный дом 10x10, 1 этаж, холодный чердак
                            </h6>
                            <p class="card-text">Демонтаж дома + погрузка + утилизация отходов (контейнеры от 8 до 27 м) &asymp;&nbsp;208&nbsp;200&nbsp;рублей</p>
                        </div>
                        <div class="card-footer mt-auto">
                            <p class="card-text">Работа выполняется за 1 день.</p>
                        </div>
                    </div>
                </div>
            </div>
        </card-group>
    </div>
</div>