{% extends "layout.html" %}
{% block head %}
<title>Отказ от ответственности | Центроснос</title>
<meta name="description" content="Отказ от ответственности администрации сайта центроснос.com" />
<meta name="og:title" content="Отказ от ответственности | Центроснос" />
<meta name="og:description" content="Отказ от ответственности администрации сайта центроснос.com" />
<meta name="og:image" content="https://центроснос.com/images/snos-derevyannogo-doma.jpg" />
<meta name="og:type" content="website" />
{% endblock %}
{% block content %}
{% include "header.alt.html" %}
<div class="section section-top">
    <div class="container">
        <h1>Отказ от ответственности</h1>
        <p>В соответствии с действующим законодательством РФ, Aдминистрация интернет ресурса <a
                href="/">центроснос.com</a> отказывается от
            каких-либо гарантий, предоставление которых может подразумеваться. <a href="/">центроснос.com</a>
            отказывается от
            ответственности в отношении содержимого сайта!
        </p>
        <p>
            Ни при каких обстоятельствах администрация интернет ресурса <a href="/">центроснос.com</a> не будет нести
            ответственности ни перед какой стороной за какой-либо прямой, непрямой, особый или иной косвенный ущерб в
            результате любого использования информации на этом Сайте. Возникновение упущенной выгоды, приостановку
            хозяйственной деятельности, потерю программ или данных в Ваших информационных системах или иным образом,
            возникшие в связи с доступом, использованием или невозможностью использования Сайта, Содержимого или
            какого-либо связанного интернет-сайта, или неработоспособностью, ошибкой, упущением, перебоем, дефектом,
            простоем в работе или задержкой в передаче, компьютерным вирусом или системным сбоем, даже если
            администрация будет явно поставлена в известность о возможности такого ущерба.</p>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}