.wrap {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 120px;
    width: 100%;
    border: 1px #d3d3d3 solid;
    border-radius: 20px;
    overflow: hidden;
}