{% extends "layout.html" %}
{% block head %}
<title>Политика Конфиденциальности | Центроснос</title>
<meta name="description" content="Политика конфиденциальности сайта центроснос.com" />
<meta name="og:title" content="Политика Конфиденциальности | Центроснос" />
<meta name="og:description" content="Политика конфиденциальности сайта центроснос.com" />
<meta name="og:image" content="https://центроснос.com/images/snos-derevyannogo-doma.jpg" />
<meta name="og:type" content="website" />
{% endblock %}
{% block content %}
{% include "header.alt.html" %}
<div class="section section-top">
    <div class="container">
        <h1>Политика Конфиденциальности</h1>
        <p>Ваша конфиденциальность очень важна для нас. Мы хотим, чтобы Ваша работа в Интернет по возможности была
            максимально приятной и полезной, и Вы совершенно спокойно использовали широчайший спектр информации,
            инструментов и возможностей, которые предлагает Интернет.</p>
        <p>Мы создали Политику конфиденциальности, чтобы продемонстрировать свою верность принципам конфиденциальности и
            безопасности. В Политике конфиденциальности описано, как наша компания собирает информацию ото всех конечных
            пользователей своих Интернет-услуг («Услуг»), включая людей, имеющих доступ к некоторым нашим услугам без
            регистрационной записи («Гостей»), а также клиентов, которые купили Продукты и/или вносят ежемесячную оплату
            за услуги, чтобы подписаться на Услугу («Члены»). Политика также включает объяснение о том, что мы делаем с
            собранной информацией, и какие возможности по сбору и использованию такой информации есть у Гостей и Членов.
            Мы просим Вас тщательно ознакомиться с Политикой конфиденциальности.</p>
        <h2>Личная информация, которую собирает наша компания, и пути ее использования</h2>
        <p>
        <h3>Введение</h3>
        </p>
        <p>Членов могут попросить предоставить определенную личную информацию при подписке на наши Продукты или Услуги,
            в частности, имя, адрес, номер телефона, информацию для выставления счетов (например, номер кредитной
            карточки) и тип персонального компьютера, который будет использоваться для доступа к Услугам. Личная
            информация Членов, собранная при регистрации (или в любое другое время) преимущественно используется для
            подготовки Продуктов или Услуг в соответствии с Вашими потребностями. Ваша информация не будет передана или
            продана третьим сторонам. Однако мы можем частично раскрывать личную информацию в особых случаях, описанных
            в нижеприведенном разделе «Разглашение».</p>
        <p>
        <h3>Разглашение</h3>
        </p>
        <p>Мы оставляем за собой право раскрывать информацию Членов и Гостей следующим третьим сторонам в следующих
            ситуациях: </p>
        <ul>
            <li>Компаниям, работающим от нашего лица: Мы сотрудничаем с другими компаниями, выполняющими от нашего лица
                функции бизнес поддержки, в связи с чем Ваша личная информация может быть частично раскрыта. Мы требуем,
                чтобы такие компании использовали информацию только в целях предоставления услуг по договору; им
                запрещается передавать данную информацию другим сторонам в ситуациях, отличных от случаев, когда это
                вызвано необходимостью предоставления оговоренных услуг. Примеры функций бизнес поддержки: выполнение
                заказов, реализация заявок, выдача призов и бонусов, проведение опросов среди клиентов и управление
                информационными системами. Мы также раскрываем обобщенную неперсонифицированную информацию при выборе
                поставщиков услуг.</li>
            <li>Дочерним и совместным предприятиям: Под дочерним или совместным предприятием понимается организация, не
                менее 50% долевого участия которой принадлежит Компании. При передаче Вашей информации партнеру по
                дочернему или совместному предприятию наша Компания требует не разглашать данную информацию другим
                сторонам в маркетинговых целях и не использовать Вашу информацию каким-либо путем, противоречащим Вашему
                выбору. Если Вы указали, что не хотите получать от нашей Компании какие-либо маркетинговые материалы, то
                мы не будем передавать Вашу информацию своим партнерам по дочерним и совместным предприятиям для
                маркетинговых целей.</li>
            <li>На совместно позиционируемых или партнерских страницах: Наша Компания может делиться информацией с
                компаниями-партнерами, вместе с которыми реализует специальные предложения и мероприятия по продвижению
                товара на совместно позиционируемых страницах нашего сайта. При запросе анкетных данных на таких
                страницах Вы получите предупреждение о передаче информации. Партнер использует любую предоставленную
                Вами информацию согласно собственному уведомлению о конфиденциальности, с которым Вы можете ознакомиться
                перед предоставлением информации о себе.</li>
            <li>При передаче контроля над предприятием: Наша Компания оставляет за собой право передавать Ваши анкетные
                данные в связи с полной или частичной продажей или трансфертом нашего предприятия или его активов. При
                продаже или трансферте бизнеса наша Компания предоставит Вам возможность отказаться от передачи
                информации о себе. В некоторых случаях это может означать, что новая организация не сможет далее
                предоставлять Вам услуги или продукты, ранее предоставляемые нашей Компанией.</li>
            <li>Правоохранительным органам: Наша Компания может без Вашего на то согласия раскрывать персональную
                информацию третьим сторонам по любой из следующих причин: во избежание нарушений закона, нормативных
                правовых актов или постановлений суда; участие в правительственных расследованиях; помощь в
                предотвращении мошенничества; а также укрепление или защита прав Компании или ее дочерних предприятий.
            </li>
            <li>С Вашего согласия: Во всех остальных случаях перед передачей информации о Вас третьим сторонам наша
                Компания обязуется получить Ваше явное согласие.</li>
        </ul>
        <p>Например, наша Компания может реализовывать совместное предложение или конкурс с третьей стороной, тогда мы
            попросим у Вас разрешение на совместное использование Вашей личной информации с третьей стороной.</p>
        <p>
        <h3>Интернет-покупки</h3>
        </p>
        <p>При заказе услуг или продуктов непосредственно в нашей Компании предоставленная Вами персональная информация
            используется для обработки данного заказа. Мы не передаем эту информацию сторонним организациям за
            исключением случаев, когда это необходимо для выполнения такого заказа.</p>
        <p>При подаче заказа через другие компании, которые могут давать ссылки на наш сайт, например, предлагая подарок
            через Интернет, который напрямую отправляется получателю, Вас могут попросить предоставить информацию о
            получателе, в частности, имя, адрес и номер телефона. Наша компания никак не контролирует пути использования
            третьими сторонами персональной информации, предоставленной Вами при размещении таких заказов. Пожалуйста, в
            таких случаях будьте осторожны. Рекомендуем ознакомиться с Политикой конфиденциальности и Условиями
            пользования любых других компаний, на чьи веб-сайты можно перейти с нашего сайта.</p>
        <p>
        <h3>Реклама в интернете</h3>
        </p>
        <p>Наша компания может размещать рекламу в Интернет. В таких случаях мы предоставляем своим рекламодателям
            сгруппированную и неперсонифицированную информацию о своих Гостях и Членах, собранную при регистрации, а
            также с помощью Интернет-опросов и мероприятий по продвижению.<br>Кроме того, в некоторых случаях мы
            используем эту сгруппированную и неперсонифицированную информацию для целевой рекламы и совместных
            предприятий. Например, рекламодатель или совместное предприятие говорит, до какой аудитории нужно
            достучаться, и предоставляет соответствующую ей рекламу. Позднее на основании собранной и сгруппированной
            неперсонифицированной информации мы размещаем или рассылаем рекламу целевой аудитории. Наша компания не
            раскрывает таким рекламодателям или совместным предприятиям персональную информацию о своих Гостях и Членах.
            Информация о том, как отказаться от Интернет-рекламы нашей Компании, включается непосредственно в рекламные
            материалы.</p>
        <p>
        <h3>Ответы на электронные запросы</h3>
        </p>
        <p>Когда Гости или Члены отправляют нашей компании электронные запросы, для ответа на них используется
            электронный адрес, с которого пришел запрос. Наша компания не использует обратные адреса в каких-либо других
            целях и не передает их каким-либо третьим сторонам.</p>
        <p>
        <h3>Добровольные опросы клиентов</h3>
        </p>
        <p>Мы периодически проводим как коммерческие, так и частные опросы среди пользователей. Мы рекомендуем своим
            клиентам участвовать в этих опросах, поскольку они дают нам важную информацию, с помощью которой мы можем
            улучшить различные свои продукты и услуги, а также усовершенствовать пути их предоставления. Ваша личная
            информация и ответы останутся строго конфиденциальными даже при проведении опроса третьей стороной. Участие
            в наших клиентских опросах необязательно. Информация о том, как отказаться от участия в опросе, включается в
            сообщения об опросах. </p>
        <p>Мы можем взять информацию, полученную от отдельных лиц, участвующих в наших клиентских опросах и объединить
            (сгруппировать) с ответами других наших клиентов для создания более широких и обобщенных ответов на вопросы
            опроса (в частности, пол, возраст, местожительства, увлечения, образование, место работы, сектор
            промышленности и др. демографическая информация). После этого сгруппированная информация используется для
            улучшения качества предоставляемых Вам услуг и разработки новых услуг и продуктов. Такая сгруппированная
            инеперсонифицированная информация может передаваться третьим сторонам.</p>
        <p>
        <h3>Автоматический сбор информации</h3>
        </p>
        <p>Cookies: Для сбора информации наша Компания может пользоваться маркерами Cookies; это маленькие
            информационные файлы, которые сохраняются Вашим браузером на жестком диске Вашего компьютера по запросу
            веб-сайта. Маркеры Cookies нашей Компании не содержат какой-либо персональной информации и преимущественно
            используются следующим образом:</p>
        <ul>
            <li>для отслеживания временной информации. Например, маркеры Cookies позволяют нам отслеживать, какие
                картинки Вы загружаете и скачиваете;</li>
            <li>чтобы регистрировать Вас в специальных программах. Cookies позволяют нам запоминать Вас при входе в зоны
                нашего сайта, для которых необходимо быть Членом;</li>
            <li>чтобы запомнить Ваши предпочтения относительно страны и языка;</li>
            <li>чтобы помочь нам понять масштабы своей аудитории и распределение трафика;</li>
            <li>для сбора и записи информации о том, что Вы просмотрели на нашем сайте и что просмотрели в нашем
                электронном письме;</li>
            <li>для управления и информацией сайта и ее презентации, а также чтобы понять, какие изображения могут
                отображаться на Вашем компьютере;</li>
            <li>и подавать информацию в соответствии с Вашими интересами.</li>
        </ul>
        <p>Веб-маяки: Мы также можем размещать на своем веб-сайте, в Интернет-рекламе с участием третьих сторон и своих
            электронных письмах небольшие «следящие изображения» или «маяки». Такие маяки применяются вместе с
            маркерамиCookies для сбора неличной информации об использовании нашего сайта, в том числе, включая время и
            дату посещения, просмотренные страницы, страницу перехода, тип браузера (например, Internet Explorer,
            NetScape), тип операционной системы (например, Windows, Linux или Mac), а также имя домена провайдера
            Интернет-услуг посетителя (например, AOL). Мы собираем такую информацию о посещениях сайта тысячами и
            анализируем в целом. Данная информация важна, в частности, для определения эффективности нашей
            Интернент-рекламы, например, баннеров и выбора места для будущей рекламы на других веб-ресурсах.</p>
        <p>Отключение Cookies и маяков: Если сбор такой информации через маркеры Cookies и маяки Вам неприятен,
            рекомендуем отключить эти функции в настройках своего браузера, но, пожалуйста, помните, что это ограничит
            эффективность и функциональность веб-сайта нашей Компании. О том, как отключить поддержку cookie и маяков,
            как правило, говорится в инструкции к браузеру.</p>
        <p>
        <h3>Информационная защита детей</h3>
        </p>
        <p>Защита детей от Интернет-информации особенно важна, дети младше 13 лет находятся под защитой федерального
            закона. По этой причине наша Компания намеренно не позволяет детям до 13 лет становиться зарегистрированными
            членами наших сайтов или приобретать товары и услуги на наших сайтах без подтвержденного разрешения от
            родителей. Наша компания намеренно не собирает и не запрашивает личную информацию у детей до 13 лет без
            явного на то согласия их родителей. </p>
        <p>Если мы когда-либо включим детей до 13 лет в число целевой аудитории нашего сайта, то эти специальные
            страницы будут выделены отдельно и будут содержать развернутое уведомление о конфиденциальности, в
            соответствии с положениями Акта о защите частной жизни ребенка в Интернете (COPPA); мы также обеспечим
            механизмы получения разрешения родителей, их доступ к информации и дадим родителям возможность требовать
            удаления личной информации своих детей.</p>
        <p>Наша Компания приветствует родителей и попечителей, которые проводят время в сети вместе со своими детьми и
            принимают участие в их интерактивных занятиях и увлечениях.</p>
        <p>
        <h3>Общественные форумы</h3>
        </p>
        <p>Определенная часть нашего сайта может давать доступ к общественным услугам, в частности, доскам обсуждения,
            чатам и мероприятиям в режиме реального времени. Пользуясь такими услугами, пожалуйста, будьте осторожны,
            когда публикуете информацию о себе. Учтите, что личная информация, раскрытая на таких сайтах, например, Ваше
            имя, имя пользователя, адрес электронной почты и т.п., может собираться и использоваться для
            несанкционированных рассылок. Такие услуги открыты для общественного пользования, и то, что Вы публикуете
            там, может просматривать любой – информация незащищена. Мы не в состоянии контролировать комментарии,
            которые Вы можете получить, участвуя в таких услугах. Комментарии других людей могут показаться Вам
            оскорбительными, опасными или некорректными.</p>
        <p>
        <h3>Приверженность нашей компании принципам конфиденциальности</h3>
        </p>
        <p>Для защиты Вашей личной информации мы используем разнообразные административные, управленческие и технические
            меры безопасности. Наша Компания придерживается различных международных стандартов контроля, направленных на
            операции с личной информацией, которые включают определенные меры контроля по защите информации, собранной в
            Интернет. Наших сотрудников обучают понимать и выполнять эти меры контроля, они ознакомлены с нашим
            Уведомлением о конфиденциальности, нормами и инструкциями. Тем не менее, несмотря на то, что мы стремимся
            обезопасить Вашу личную информацию, Вы тоже должны принимать меры, чтобы защитить ее. Мы настоятельно
            рекомендуем Вам принимать все возможные меры предосторожности во время пребывания в Интернете.</p>
        <p>Организованные нами услуги и веб-сайты предусматривают меры по защите от утечки, несанкционированного
            использования и изменения информации, которую мы контролируем. Несмотря на то, что мы делаем все возможное,
            чтобы обеспечить целостность и безопасность своей сети и систем, мы не можем гарантировать, что наши меры
            безопасности предотвратят незаконный доступ к этой информации хакеров сторонних организаций.</p>
        <p>
        <h3>Куда направлять вопросы о нашей Политике конфиденциальности</h3>
        </p>
        <p>Если у Вас возникли вопросы относительно данной Политики конфиденциальности или описанных выше практических
            методик, с нами можно связаться с помощью контактной информации нашего сайта.</p>
        <p>
        <h3>Изменения настоящей Политики</h3>
        </p>
        <p>Наша Компания оставляет за собой право в любое время и любым образом редактировать, дополнять или изменять
            настоящую политику, Правила пользования и Договор об оказании услуг, а также другие политики и договоры
            нашей Компании, обновив при этом настоящую страницу.<br>Подписавшись на сайте <a
                href="/">центроснос.com</a>, вы выражаете свое согласие на получение от нас по электронной почте
            бесплатных материалов. После того, как вы введете ваши данные, вы будите время от времени получать от нас по
            электронной почте новостную рассылку и извещения. Если вы пожелаете перестать получать от нас информацию, вы
            сможете отказаться от рассылки в любое время, пройдя по ссылке, приведенной в конце каждого письма. </p>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}